<!DOCTYPE html>
<html ng-app="convertUtcModule">
    <head>
        <meta charset="utf-8"><meta>
        <title>Convertidor hora a UTC</title>
        <link   rel="stylesheet" 
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
                integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
                crossorigin="anonymous">
        <link   rel="stylesheet" 
                href="assets/css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="app/shared/validations.js"></script>
        <script src="app/app.js"></script>
        
    </head>
    <body ng-controller="convertUtcController">
        <div class="container mt-4">
            
            <div class="card w-50 center">
                <div class="card-header">
                    Convertidor hora a UTC
                </div>
                <div class="card-body">
                    <!-- FORMULARIO CONVERTFORM -->
                    <form   name="convertForm" 
                            novalidate> 
                        <!-- INPUT HORA -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Hora <strong class="text-danger">*</strong>
                            </label>
                            <input      type="text" 
                                        class="form-control" 
                                        id="exampleInputEmail1" 
                                        aria-describedby="emailHelp"
                                        placeholder="Ingrese la hora en el formato hh:mm:ss"
                                        name="time"
                                        ng-model="timeZone.time"
                                        ng-class="{'is-invalid':( !convertForm.time.$valid && 
                                                                convertForm.time.$dirty) || 
                                                                (!convertForm.time.$valid && 
                                                                convertForm.time.$touched),
                                                    'is-valid': convertForm.time.$valid && 
                                                                convertForm.time.$dirty}"
                                        required
                                        ng-minlength="8"
                                        maxlength="8"
                                        ng-keypress="validations.onlyNumberAndSimbol($event)">

                            <small  ng-show="convertForm.time.$error.required && 
                                            (convertForm.time.$touched || convertForm.time.$dirty)"
                                            class="text-danger">
                                El campo es obligatorio
                            </small>
                            <small  ng-show="convertForm.time.$error.minlength && 
                                            (convertForm.time.$touched || convertForm.time.$dirty)"
                                            class="text-danger">
                                Mínimo 8 caracteres
                            </small>
                            <small  ng-show="convertForm.time.$error.pattern && 
                                            (convertForm.time.$touched || convertForm.time.$dirty)"
                                            class="text-danger">
                                Formato de hora incorrecto (hh:mm:ss)
                            </small>
                        </div>
                        <!-- FIN -->

                        <!-- INPUT ZONA HORARIA -->
                        <div class="form-group">
                            <label for="exampleInputPassword1">
                                Zona horaria <strong class="text-danger">*</strong>
                            </label>
                            <input      type="text" 
                                        class="form-control" 
                                        id="exampleInputPassword1"
                                        placeholder="Ingrese la zona horaria"
                                        name="zone"
                                        ng-model="timeZone.zone"
                                        ng-class="{'is-invalid':( !convertForm.zone.$valid && 
                                                                convertForm.zone.$dirty) || 
                                                                (!convertForm.zone.$valid && 
                                                                convertForm.zone.$touched),
                                                    'is-valid': convertForm.zone.$valid && 
                                                                convertForm.zone.$dirty}"
                                        required
                                        ng-minlength="2"
                                        maxlength="2"
                                        ng-keypress="validations.onlyNumberAndSimbols($event)">
                            <small  ng-show="convertForm.zone.$error.required && 
                                            (convertForm.zone.$touched || convertForm.zone.$dirty)"
                                            class="text-danger">
                                El campo es obligatorio
                            </small>
                            <small  ng-show="convertForm.zone.$error.minlength && 
                                            (convertForm.zone.$touched || convertForm.zone.$dirty)"
                                            class="text-danger">
                                Mínimo 2 caracteres
                            </small>
                        </div>
                        <!-- FIN -->
                        
                        <!-- BUTTON CONVERTIR -->
                        <button     type="button" 
                                    class="btn btn-primary"
                                    ng-click="handleConvertUTC()"
                                    ng-disabled="convertForm.$invalid || btnConvertUTC">Convertir</button>
                        <!-- FIN -->

                        <!-- BUTTON CANCELAR -->
                        <button     type="button" 
                                    class="btn btn-secondary"
                                    ng-click="reset(convertForm)">Cancelar</button>            
                        <!-- FIN -->

                    </form>
                    <!-- FIN -->
                </div>
            </div>

            <br />

            <div    class="alert alert-success w-50 center" 
                    role="alert"
                    ng-show="timeUTC.time != undefined">
                <p>
                    Hora: <strong>{{ timeUTC.time }}</strong>
                </p>
                <p>
                    Timezone: <strong>{{ timeUTC.timezone }}</strong>
                </p>
            </div>
            
        </div>
            
    </body>
</html>